@import '~bootstrap/scss/bootstrap';

@import'./base/reset';
@import './helpers/swal';
@import './helpers/_mixins';

@keyframes ldio-85i9asunyhd {
  0% {
    top: 92px;
    left: 92px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 16px;
    left: 16px;
    width: 152px;
    height: 152px;
    opacity: 0;
  }
}.ldio-85i9asunyhd div {
  position: absolute;
  border-width: 8px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-85i9asunyhd 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-85i9asunyhd div:nth-child(1) {
  border-color: #0051a2;
  animation-delay: 0s;
}
.ldio-85i9asunyhd div:nth-child(2) {
  border-color: #1b75be;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-s9x0fb0v5xl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}
.ldio-85i9asunyhd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-85i9asunyhd div { box-sizing: content-box; }