td,
th {
  vertical-align: middle;
}

.table-responsive th {
  word-break: keep-all;
}

a {
  text-decoration: none !important;
  display: block;
}

ul {
  list-style-type:none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}