body {
      background: url('~@/assets/images/body-wallpaper.jpg') no-repeat center center fixed transparent;
}

td,
th {
  vertical-align: middle;
}

.table-responsive th {
  word-break: keep-all;
}

a {
  text-decoration: none !important;
  display: block;
}

p {
  margin: 0;
  text-align: justify;
}

ul {
  list-style-type:none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: auto;
}