body {
  background: url('~@/assets/images/body-wallpaper.jpg') center center fixed;
}

td,
th {
  vertical-align: middle;
}

.table-responsive th {
  word-break: keep-all;
}

h1 {
  text-shadow: 2px 3px 5px #cccccc;
}

a {
  text-decoration: none !important;
  display: block;
}

p {
  margin: 0;
  text-align: justify;
}

ul {
  padding: 0 ;
}

ul {
  list-style-type:none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: auto;
}