@mixin banner {
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  height: 100px;
  @media screen and (min-width:300px) { 
    height: 150px;
  }
  @include media-breakpoint-up(sm){
    height: 200px;
  }
  @include media-breakpoint-up(xl){
    height: 300px;
  }
}

.products-banner {
  background-image: url('~@/assets/images/banner1.jpg');
  @include banner()
}

.cart-banner {
  background-image: url('~@/assets/images/banner2.jpg');
  @include banner()
}

.detailed-banner {
  background-image: url('~@/assets/images/banner3.jpg');
  @include banner()
}

.favorites-banner {
  background-image: url('~@/assets/images/banner4.jpg');
  @include banner()
}