@keyframes ldio-vvip0fav2if {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.55,1.55);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-vvip0fav2if div > div {
  position: absolute;
  width: 14.879999999999999px;
  height: 14.879999999999999px;
  border-radius: 50%;
  background: #157759;
  animation: ldio-vvip0fav2if 1s linear infinite;
}.ldio-vvip0fav2if div:nth-child(1) > div {
  left: 92px;
  top: 55px;
  animation-delay: -0.875s;
}
.ldio-vvip0fav2if > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 99.44px 62.44px;
}.ldio-vvip0fav2if div:nth-child(2) > div {
  left: 81px;
  top: 81px;
  animation-delay: -0.75s;
}
.ldio-vvip0fav2if > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 88.44px 88.44px;
}.ldio-vvip0fav2if div:nth-child(3) > div {
  left: 55px;
  top: 92px;
  animation-delay: -0.625s;
}
.ldio-vvip0fav2if > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 62.44px 99.44px;
}.ldio-vvip0fav2if div:nth-child(4) > div {
  left: 28px;
  top: 81px;
  animation-delay: -0.5s;
}
.ldio-vvip0fav2if > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 35.44px 88.44px;
}.ldio-vvip0fav2if div:nth-child(5) > div {
  left: 17px;
  top: 55px;
  animation-delay: -0.375s;
}
.ldio-vvip0fav2if > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 24.439999999999998px 62.44px;
}.ldio-vvip0fav2if div:nth-child(6) > div {
  left: 28px;
  top: 28px;
  animation-delay: -0.25s;
}
.ldio-vvip0fav2if > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 35.44px 35.44px;
}.ldio-vvip0fav2if div:nth-child(7) > div {
  left: 55px;
  top: 17px;
  animation-delay: -0.125s;
}
.ldio-vvip0fav2if > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 62.44px 24.439999999999998px;
}.ldio-vvip0fav2if div:nth-child(8) > div {
  left: 81px;
  top: 28px;
  animation-delay: 0s;
}
.ldio-vvip0fav2if > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 88.44px 35.44px;
}
.loadingio-spinner-spin-3mx4cy187my {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}
.ldio-vvip0fav2if {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-vvip0fav2if div { box-sizing: content-box; }