.swal2-container{
  position: absolute;
  z-index: 9999;
  height: auto !important;
  @include media-breakpoint-up(lg){
    width: auto !important;
  }
}

.swal2-popup{
  padding: 10px 0px 10px 16px !important;
}

.swal2-header{
  display: flex !important;
}

.swal2-icon{
  margin: 0 !important;
}

.swal2-title{
  font-size: 25px !important;
  margin: 16px !important;
}