@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .w#{$infix}-100 {
      width: 100% !important; 
    }
    .w#{$infix}-75 {
      width: 75% !important;
    }
    .w#{$infix}-65 {
      width: 65% !important;
    }
    .w#{$infix}-50 {
      width: 50% !important;
    }
    .w#{$infix}-25 {
      width: 25% !important;
    }
    .h#{$infix}-100 {
      height: 100% !important;
    }
    .h#{$infix}-75 {
      height: 75% !important;
    }
    .h#{$infix}-50 {
      height: 50% !important;
    }
    .h#{$infix}-25 {
      height: 25% !important;
    }
  }
}
.z-index{
  z-index: 999;
}

.cursor-default{ 
  cursor:default; 
}

.cursor-pointer{ 
  cursor: pointer; 
}

.content {
  padding-top: 55px;
  min-height: calc(100vh - 63px);
}

.img-transparent {
  mix-blend-mode: multiply;
}

.bg-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}
.text-align-justfy{
  text-align:justify;
}
.bg {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%) center center
  fixed no-repeat;
  background-size: cover;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items:center
}

.bi-bookmark-heart, .bi-bookmark-heart-fill{
  &:hover{
    transition: 0.5s;
    color: $primary !important;
    font-size: 35px !important;
  }
}