@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .w#{$infix}-100 {
      width: 100% !important; 
    }
    .w#{$infix}-75 {
      width: 75% !important;
    }
    .w#{$infix}-65 {
      width: 65% !important;
    }
    .w#{$infix}-50 {
      width: 50% !important;
    }
    .w#{$infix}-40 {
      width: 40% !important;
    }
    .w#{$infix}-30 {
      width: 30% !important;
    }
    .w#{$infix}-25 {
      width: 25% !important;
    }
    .w#{$infix}-auto {
      width: auto !important;
    }
    .h#{$infix}-100 {
      height: 100% !important;
    }
    .h#{$infix}-75 {
      height: 75% !important;
    }
    .h#{$infix}-50 {
      height: 50% !important;
    }
    .h#{$infix}-25 {
      height: 25% !important;
    }
    .vh#{$infix}-100 {
      height: 100vh !important;
    }
    .border#{$infix}-0 {
      border: 0 !important;
    }
  }
}

.list-style {
  list-style-type: disc;
}

.z-index{
  z-index: 999;
}

.logo {
  font-family: 'Sigmar One', cursive;
}

.cursor-default{ 
  cursor:default; 
}

.cursor-pointer{ 
  cursor: pointer; 
}

.cursor-allowed {
  cursor: not-allowed !important;
  pointer-events: initial !important;
  opacity: 0.65
}

.content {
  padding-top: 55px;
  min-height: calc(100vh - 63px);
}

.img-transparent {
  mix-blend-mode: multiply;
}

.bg-linear-right {
  background: linear-gradient(90deg, #00000000 0%, rgb(244, 244, 244) 90%);
}

.bg-linear-left {
  background: linear-gradient(270deg, #00000000 0%, rgb(244, 244, 244) 90%);
}

.bg-translucent {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-align-justfy{
  text-align:justify;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items:center
}

.bi-bookmark-heart, .bi-bookmark-heart-fill{
  &:hover{
    transition: 0.5s;
    color: $primary !important;
    font-size: 35px !important;
  }
}

.coupon-style {
  ::before {
    content: '';
    position: absolute;
    top: 35%;
    left: -15px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  ::after {
    content: '';
    position: absolute;
    top: 35%;
    right: -15px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
}
